@font-face {
  font-family: 'submail';
  src:  url('submail.eot?b6klur');
  src:  url('submail.eot?b6klur#iefix') format('embedded-opentype'),
    url('submail.ttf?b6klur') format('truetype'),
    url('submail.woff?b6klur') format('woff'),
    url('submail.svg?b6klur#submail') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="submail-icon-"], [class*=" submail-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'submail' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.submail-icon-csv2:before {
  content: "\ea01";
}
.submail-icon-json2:before {
  content: "\ea02";
}
.submail-icon-csv:before {
  content: "\e9ff";
}
.submail-icon-json:before {
  content: "\ea00";
}
.submail-icon-money:before {
  content: "\e9f2";
}
.submail-icon-mail2:before {
  content: "\e9e2";
}
.submail-icon-voice2:before {
  content: "\e9e3";
}
.submail-icon-sms2:before {
  content: "\e9eb";
}
.submail-icon-mobiledata2:before {
  content: "\e9ee";
}
.submail-icon-iot2:before {
  content: "\e9ef";
}
.submail-icon-close:before {
  content: "\e9d5";
}
.submail-icon-add:before {
  content: "\e9d6";
}
.submail-icon-minus:before {
  content: "\e9d7";
}
.submail-icon-overview:before {
  content: "\e9da";
}
.submail-icon-minus2:before {
  content: "\e9db";
}
.submail-icon-add2:before {
  content: "\e9e0";
}
.submail-icon-close2:before {
  content: "\e9e1";
}
.submail-icon-help:before {
  content: "\e9d3";
}
.submail-icon-addressbook-line-3:before {
  content: "\e9d4";
}
.submail-icon-logo-line-3:before {
  content: "\e9c9";
}
.submail-icon-mail-line-3:before {
  content: "\e9cb";
}
.submail-icon-sms-line-3:before {
  content: "\e9cd";
}
.submail-icon-voice-line-3:before {
  content: "\e9ce";
}
.submail-icon-mobiledata-line-3:before {
  content: "\e9cf";
}
.submail-icon-iot-line-3:before {
  content: "\e9d0";
}
.submail-icon-account-line-3:before {
  content: "\e9d1";
}
.submail-icon-developer-line-3:before {
  content: "\e9d2";
}
.submail-icon-developer-line-2:before {
  content: "\e9c7";
}
.submail-icon-logo-line-2:before {
  content: "\e9bc";
}
.submail-icon-mail-line-2:before {
  content: "\e9bd";
}
.submail-icon-sms-line-2:before {
  content: "\e9bf";
}
.submail-icon-voice-line-2:before {
  content: "\e9c0";
}
.submail-icon-mobiledata-line-2:before {
  content: "\e9c1";
}
.submail-icon-iot-line-2:before {
  content: "\e9c3";
}
.submail-icon-account-line2:before {
  content: "\e9c5";
}
.submail-icon-sms:before {
  content: "\e900";
}
.submail-icon-logo:before {
  content: "\e901";
}
.submail-icon-mail:before {
  content: "\e902";
}
.submail-icon-voice:before {
  content: "\e903";
}
.submail-icon-mobiledata:before {
  content: "\e904";
}
.submail-icon-iot:before {
  content: "\e905";
}
.submail-icon-account:before {
  content: "\e906";
}
.submail-icon-developer:before {
  content: "\e907";
}
.submail-icon-addressbook:before {
  content: "\e908";
}
.submail-icon-addressbook-line:before {
  content: "\e909";
}
.submail-icon-developer-line:before {
  content: "\e90a";
}
.submail-icon-account-line:before {
  content: "\e90b";
}
.submail-icon-iot-line:before {
  content: "\e90c";
}
.submail-icon-mobiledata-line:before {
  content: "\e90d";
}
.submail-icon-sms-line:before {
  content: "\e90e";
}
.submail-icon-mail-line:before {
  content: "\e90f";
}
.submail-icon-logo-line:before {
  content: "\e910";
}
.submail-icon-voice-line:before {
  content: "\e911";
}
.submail-icon-alarm:before {
  content: "\e912";
}
.submail-icon-apartment:before {
  content: "\e913";
}
.submail-icon-arrow-down-circle:before {
  content: "\e914";
}
.submail-icon-arrow-down:before {
  content: "\e915";
}
.submail-icon-arrow-left-circle:before {
  content: "\e916";
}
.submail-icon-arrow-left:before {
  content: "\e917";
}
.submail-icon-arrow-right-circle:before {
  content: "\e918";
}
.submail-icon-arrow-right:before {
  content: "\e919";
}
.submail-icon-arrow-up-circle:before {
  content: "\e91a";
}
.submail-icon-arrow-up:before {
  content: "\e91b";
}
.submail-icon-bicycle:before {
  content: "\e91c";
}
.submail-icon-bold:before {
  content: "\e91d";
}
.submail-icon-book:before {
  content: "\e91e";
}
.submail-icon-bookmark:before {
  content: "\e91f";
}
.submail-icon-briefcase:before {
  content: "\e920";
}
.submail-icon-bubble:before {
  content: "\e921";
}
.submail-icon-bug:before {
  content: "\e922";
}
.submail-icon-bullhorn:before {
  content: "\e923";
}
.submail-icon-bus:before {
  content: "\e924";
}
.submail-icon-calendar-full:before {
  content: "\e925";
}
.submail-icon-camera-video:before {
  content: "\e926";
}
.submail-icon-camera:before {
  content: "\e927";
}
.submail-icon-car:before {
  content: "\e928";
}
.submail-icon-cart:before {
  content: "\e929";
}
.submail-icon-chart-bars:before {
  content: "\e92a";
}
.submail-icon-checkmark-circle:before {
  content: "\e92b";
}
.submail-icon-chevron-down-circle:before {
  content: "\e92c";
}
.submail-icon-chevron-down:before {
  content: "\e92d";
}
.submail-icon-chevron-left-circle:before {
  content: "\e92e";
}
.submail-icon-chevron-left:before {
  content: "\e92f";
}
.submail-icon-chevron-right-circle:before {
  content: "\e930";
}
.submail-icon-chevron-right:before {
  content: "\e931";
}
.submail-icon-chevron-up-circle:before {
  content: "\e932";
}
.submail-icon-chevron-up:before {
  content: "\e933";
}
.submail-icon-circle-minus:before {
  content: "\e934";
}
.submail-icon-clock:before {
  content: "\e935";
}
.submail-icon-cloud-check:before {
  content: "\e936";
}
.submail-icon-cloud-download:before {
  content: "\e937";
}
.submail-icon-cloud-sync:before {
  content: "\e938";
}
.submail-icon-cloud-upload:before {
  content: "\e939";
}
.submail-icon-cloud:before {
  content: "\e93a";
}
.submail-icon-code:before {
  content: "\e93b";
}
.submail-icon-coffee-cup:before {
  content: "\e93c";
}
.submail-icon-cog:before {
  content: "\e93d";
}
.submail-icon-construction:before {
  content: "\e93e";
}
.submail-icon-crop:before {
  content: "\e93f";
}
.submail-icon-cross-circle:before {
  content: "\e940";
}
.submail-icon-cross:before {
  content: "\e941";
}
.submail-icon-database:before {
  content: "\e942";
}
.submail-icon-diamond:before {
  content: "\e943";
}
.submail-icon-dice:before {
  content: "\e944";
}
.submail-icon-dinner:before {
  content: "\e945";
}
.submail-icon-direction-ltr:before {
  content: "\e946";
}
.submail-icon-direction-rtl:before {
  content: "\e947";
}
.submail-icon-download:before {
  content: "\e948";
}
.submail-icon-drop:before {
  content: "\e949";
}
.submail-icon-earth:before {
  content: "\e94a";
}
.submail-icon-enter-down:before {
  content: "\e94b";
}
.submail-icon-enter:before {
  content: "\e94c";
}
.submail-icon-envelope:before {
  content: "\e94d";
}
.submail-icon-exit-up:before {
  content: "\e94e";
}
.submail-icon-exit:before {
  content: "\e94f";
}
.submail-icon-eye:before {
  content: "\e950";
}
.submail-icon-file-add:before {
  content: "\e951";
}
.submail-icon-file-empty:before {
  content: "\e952";
}
.submail-icon-film-play:before {
  content: "\e953";
}
.submail-icon-flag:before {
  content: "\e954";
}
.submail-icon-frame-contract:before {
  content: "\e955";
}
.submail-icon-frame-expand:before {
  content: "\e956";
}
.submail-icon-funnel:before {
  content: "\e957";
}
.submail-icon-gift:before {
  content: "\e958";
}
.submail-icon-graduation-hat:before {
  content: "\e959";
}
.submail-icon-hand:before {
  content: "\e95a";
}
.submail-icon-heart-pulse:before {
  content: "\e95b";
}
.submail-icon-heart:before {
  content: "\e95c";
}
.submail-icon-highlight:before {
  content: "\e95d";
}
.submail-icon-history:before {
  content: "\e95e";
}
.submail-icon-home:before {
  content: "\e95f";
}
.submail-icon-hourglass:before {
  content: "\e960";
}
.submail-icon-inbox:before {
  content: "\e961";
}
.submail-icon-indent-decrease:before {
  content: "\e962";
}
.submail-icon-indent-increase:before {
  content: "\e963";
}
.submail-icon-italic:before {
  content: "\e964";
}
.submail-icon-keyboard:before {
  content: "\e965";
}
.submail-icon-laptop-phone:before {
  content: "\e966";
}
.submail-icon-laptop:before {
  content: "\e967";
}
.submail-icon-layers:before {
  content: "\e968";
}
.submail-icon-leaf:before {
  content: "\e969";
}
.submail-icon-license:before {
  content: "\e96a";
}
.submail-icon-lighter:before {
  content: "\e96b";
}
.submail-icon-line-spacing:before {
  content: "\e96c";
}
.submail-icon-linearicons:before {
  content: "\e96d";
}
.submail-icon-link:before {
  content: "\e96e";
}
.submail-icon-list:before {
  content: "\e96f";
}
.submail-icon-location:before {
  content: "\e970";
}
.submail-icon-lock:before {
  content: "\e971";
}
.submail-icon-magic-wand:before {
  content: "\e972";
}
.submail-icon-magnifier:before {
  content: "\e973";
}
.submail-icon-map-marker:before {
  content: "\e974";
}
.submail-icon-map:before {
  content: "\e975";
}
.submail-icon-menu-circle:before {
  content: "\e976";
}
.submail-icon-menu:before {
  content: "\e977";
}
.submail-icon-mic:before {
  content: "\e978";
}
.submail-icon-moon:before {
  content: "\e979";
}
.submail-icon-move:before {
  content: "\e97a";
}
.submail-icon-music-note:before {
  content: "\e97b";
}
.submail-icon-mustache:before {
  content: "\e97c";
}
.submail-icon-neutral:before {
  content: "\e97d";
}
.submail-icon-page-break:before {
  content: "\e97e";
}
.submail-icon-paperclip:before {
  content: "\e97f";
}
.submail-icon-paw:before {
  content: "\e980";
}
.submail-icon-pencil:before {
  content: "\e981";
}
.submail-icon-phone-handset:before {
  content: "\e982";
}
.submail-icon-phone:before {
  content: "\e983";
}
.submail-icon-picture:before {
  content: "\e984";
}
.submail-icon-pie-chart:before {
  content: "\e985";
}
.submail-icon-pilcrow:before {
  content: "\e986";
}
.submail-icon-plus-circle:before {
  content: "\e987";
}
.submail-icon-pointer-down:before {
  content: "\e988";
}
.submail-icon-pointer-left:before {
  content: "\e989";
}
.submail-icon-pointer-right:before {
  content: "\e98a";
}
.submail-icon-pointer-up:before {
  content: "\e98b";
}
.submail-icon-poop:before {
  content: "\e98c";
}
.submail-icon-power-switch:before {
  content: "\e98d";
}
.submail-icon-printer:before {
  content: "\e98e";
}
.submail-icon-pushpin:before {
  content: "\e98f";
}
.submail-icon-question-circle:before {
  content: "\e990";
}
.submail-icon-redo:before {
  content: "\e991";
}
.submail-icon-rocket:before {
  content: "\e992";
}
.submail-icon-sad:before {
  content: "\e993";
}
.submail-icon-screen:before {
  content: "\e994";
}
.submail-icon-select:before {
  content: "\e995";
}
.submail-icon-shirt:before {
  content: "\e996";
}
.submail-icon-smartphone:before {
  content: "\e997";
}
.submail-icon-smile:before {
  content: "\e998";
}
.submail-icon-sort-alpha-asc:before {
  content: "\e999";
}
.submail-icon-sort-amount-asc:before {
  content: "\e99a";
}
.submail-icon-spell-check:before {
  content: "\e99b";
}
.submail-icon-star-empty:before {
  content: "\e99c";
}
.submail-icon-star-half:before {
  content: "\e99d";
}
.submail-icon-star:before {
  content: "\e99e";
}
.submail-icon-store:before {
  content: "\e99f";
}
.submail-icon-strikethrough:before {
  content: "\e9a0";
}
.submail-icon-sun:before {
  content: "\e9a1";
}
.submail-icon-sync:before {
  content: "\e9a2";
}
.submail-icon-tablet:before {
  content: "\e9a3";
}
.submail-icon-tag:before {
  content: "\e9a4";
}
.submail-icon-text-align-center:before {
  content: "\e9a5";
}
.submail-icon-text-align-justify:before {
  content: "\e9a6";
}
.submail-icon-text-align-left:before {
  content: "\e9a7";
}
.submail-icon-text-align-right:before {
  content: "\e9a8";
}
.submail-icon-text-format-remove:before {
  content: "\e9a9";
}
.submail-icon-text-format:before {
  content: "\e9aa";
}
.submail-icon-text-size:before {
  content: "\e9ab";
}
.submail-icon-thumbs-down:before {
  content: "\e9ac";
}
.submail-icon-thumbs-up:before {
  content: "\e9ad";
}
.submail-icon-train:before {
  content: "\e9ae";
}
.submail-icon-trash:before {
  content: "\e9af";
}
.submail-icon-underline:before {
  content: "\e9b0";
}
.submail-icon-undo:before {
  content: "\e9b1";
}
.submail-icon-unlink:before {
  content: "\e9b2";
}
.submail-icon-upload:before {
  content: "\e9b3";
}
.submail-icon-user:before {
  content: "\e9b4";
}
.submail-icon-users:before {
  content: "\e9b5";
}
.submail-icon-volume-high:before {
  content: "\e9b6";
}
.submail-icon-volume-low:before {
  content: "\e9b7";
}
.submail-icon-volume-medium:before {
  content: "\e9b8";
}
.submail-icon-volume:before {
  content: "\e9b9";
}
.submail-icon-warning:before {
  content: "\e9ba";
}
.submail-icon-wheelchair:before {
  content: "\e9bb";
}
.submail-icon-heart3:before {
  content: "\f004";
}
.submail-icon-bars:before {
  content: "\f0c9";
}
.submail-icon-navicon:before {
  content: "\f0c9";
}
.submail-icon-reorder:before {
  content: "\f0c9";
}
.submail-icon-angle-left:before {
  content: "\f104";
}
.submail-icon-angle-right:before {
  content: "\f105";
}
.submail-icon-angle-up:before {
  content: "\f106";
}
.submail-icon-angle-down:before {
  content: "\f107";
}
.submail-icon-microphone:before {
  content: "\f130";
}
.submail-icon-git-square:before {
  content: "\f1d2";
}
.submail-icon-tencent-weibo:before {
  content: "\f1d5";
}
.submail-icon-qq:before {
  content: "\f1d6";
}
.submail-icon-wechat:before {
  content: "\f1d7";
}
.submail-icon-weixin:before {
  content: "\f1d7";
}
.submail-icon-paper-plane:before {
  content: "\f1d8";
}
.submail-icon-send:before {
  content: "\f1d8";
}
.submail-icon-paper-plane-o:before {
  content: "\f1d9";
}
.submail-icon-send-o:before {
  content: "\f1d9";
}
.submail-icon-cc-paypal:before {
  content: "\f1f4";
}
.submail-icon-mail-envelope:before {
  content: "\e9fc";
}
.submail-icon-mail-envelope-open:before {
  content: "\e9be";
}
.submail-icon-mail-envelope-closed:before {
  content: "\e9fb";
}
.submail-icon-mail-envelope-open3:before {
  content: "\e9c2";
}
.submail-icon-mail-envelope-open5:before {
  content: "\e9c4";
}
.submail-icon-mail-envelope-closed3:before {
  content: "\e9c6";
}
.submail-icon-mail-envelope-open7:before {
  content: "\e9c8";
}
.submail-icon-mail-error:before {
  content: "\e9ca";
}
.submail-icon-mail-checked:before {
  content: "\e9cc";
}
.submail-icon-mail-cancel:before {
  content: "\e9f3";
}
.submail-icon-mail--forbidden:before {
  content: "\e9f4";
}
.submail-icon-mail-add:before {
  content: "\e9f5";
}
.submail-icon-mail-remove:before {
  content: "\e9fa";
}
.submail-icon-flag2:before {
  content: "\e9f9";
}
.submail-icon-flag3:before {
  content: "\ea08";
}
.submail-icon-flag4:before {
  content: "\e9d8";
}
.submail-icon-flag5:before {
  content: "\e9d9";
}
.submail-icon-flag6:before {
  content: "\e9f8";
}
.submail-icon-flag8:before {
  content: "\e9dc";
}
.submail-icon-flag9:before {
  content: "\e9dd";
}
.submail-icon-bookmark2:before {
  content: "\e9de";
}
.submail-icon-bookmark3:before {
  content: "\e9df";
}
.submail-icon-bookmark-add:before {
  content: "\e9f7";
}
.submail-icon-bookmark-add2:before {
  content: "\ea06";
}
.submail-icon-bookmark-remove:before {
  content: "\e9f6";
}
.submail-icon-bookmark-remove2:before {
  content: "\ea07";
}
.submail-icon-eye-hidden:before {
  content: "\e9e4";
}
.submail-icon-eye-hidden2:before {
  content: "\e9e5";
}
.submail-icon-eye2:before {
  content: "\e9e6";
}
.submail-icon-eye3:before {
  content: "\e9e7";
}
.submail-icon-star2:before {
  content: "\e9e8";
}
.submail-icon-star3:before {
  content: "\e9e9";
}
.submail-icon-key:before {
  content: "\e9ea";
}
.submail-icon-key3:before {
  content: "\e9ec";
}
.submail-icon-key4:before {
  content: "\e9ed";
}
.submail-icon-trash-can3:before {
  content: "\e9f0";
}
.submail-icon-trash-can4:before {
  content: "\e9f1";
}
.submail-icon-information:before {
  content: "\e9fd";
}
.submail-icon-information2:before {
  content: "\ea05";
}
.submail-icon-information3:before {
  content: "\ea04";
}
.submail-icon-information4:before {
  content: "\ea03";
}
.submail-icon-book-bookmark:before {
  content: "\e9fe";
}
.submail-icon-note-add:before {
  content: "\ea0e";
}
.submail-icon-note-add2:before {
  content: "\ea0f";
}
.submail-icon-note-remove:before {
  content: "\ea10";
}
.submail-icon-note-remove2:before {
  content: "\ea11";
}
.submail-icon-note-text:before {
  content: "\ea12";
}
.submail-icon-note-text2:before {
  content: "\ea13";
}
.submail-icon-note-list:before {
  content: "\ea14";
}
.submail-icon-note-list2:before {
  content: "\ea15";
}
.submail-icon-note-checked:before {
  content: "\ea16";
}
.submail-icon-note-checked2:before {
  content: "\ea17";
}
.submail-icon-note-important:before {
  content: "\ea18";
}
.submail-icon-note-important2:before {
  content: "\ea19";
}
.submail-icon-documents:before {
  content: "\ea48";
}
.submail-icon-documents2:before {
  content: "\ea49";
}
.submail-icon-documents3:before {
  content: "\ea4a";
}
.submail-icon-documents4:before {
  content: "\ea4b";
}
.submail-icon-document-information:before {
  content: "\ea60";
}
.submail-icon-folder-information:before {
  content: "\ea62";
}
.submail-icon-folder-information2:before {
  content: "\ea63";
}
.submail-icon-inbox2:before {
  content: "\ea68";
}
.submail-icon-inbox3:before {
  content: "\ea69";
}
.submail-icon-inboxes:before {
  content: "\ea6a";
}
.submail-icon-inboxes2:before {
  content: "\ea6b";
}
.submail-icon-folder3:before {
  content: "\ea76";
}
.submail-icon-folder4:before {
  content: "\ea77";
}
.submail-icon-folders:before {
  content: "\ea78";
}
.submail-icon-folders2:before {
  content: "\ea79";
}
.submail-icon-folder-locked:before {
  content: "\ea80";
}
.submail-icon-folder-locked2:before {
  content: "\ea81";
}
.submail-icon-folder-error:before {
  content: "\ea84";
}
.submail-icon-folder-error2:before {
  content: "\ea85";
}
.submail-icon-folder-cancel:before {
  content: "\ea86";
}
.submail-icon-folder-cancel2:before {
  content: "\ea87";
}
.submail-icon-folder-checked:before {
  content: "\ea88";
}
.submail-icon-folder-checked2:before {
  content: "\ea89";
}
.submail-icon-folder-add:before {
  content: "\ea8a";
}
.submail-icon-folder-add2:before {
  content: "\ea8b";
}
.submail-icon-folder-remove:before {
  content: "\ea8c";
}
.submail-icon-folder-remove2:before {
  content: "\ea8d";
}
.submail-icon-folder-forbidden:before {
  content: "\ea8e";
}
.submail-icon-folder-forbidden2:before {
  content: "\ea8f";
}
.submail-icon-folder-bookmark:before {
  content: "\ea90";
}
.submail-icon-folder-bookmark2:before {
  content: "\ea91";
}
.submail-icon-document-zip:before {
  content: "\ea92";
}
.submail-icon-zip:before {
  content: "\ea94";
}
.submail-icon-search:before {
  content: "\ea96";
}
.submail-icon-search2:before {
  content: "\ea97";
}
.submail-icon-search-plus:before {
  content: "\ea98";
}
.submail-icon-search-plus2:before {
  content: "\ea99";
}
.submail-icon-search-minus:before {
  content: "\ea9a";
}
.submail-icon-search-minus2:before {
  content: "\ea9b";
}
.submail-icon-lock2:before {
  content: "\ea9c";
}
.submail-icon-lock3:before {
  content: "\ea9d";
}
.submail-icon-lock-open:before {
  content: "\ea9e";
}
.submail-icon-lock-open2:before {
  content: "\ea9f";
}
.submail-icon-printer-text:before {
  content: "\eab0";
}
.submail-icon-printer-text2:before {
  content: "\eab1";
}
.submail-icon-cloud-download2:before {
  content: "\eaba";
}
.submail-icon-cloud-download3:before {
  content: "\eabb";
}
.submail-icon-cloud-upload2:before {
  content: "\eabc";
}
.submail-icon-cloud-upload3:before {
  content: "\eabd";
}
.submail-icon-cloud-error:before {
  content: "\eabe";
}
.submail-icon-cloud-error2:before {
  content: "\eabf";
}
.submail-icon-cloud2:before {
  content: "\eac0";
}
.submail-icon-cloud3:before {
  content: "\eac1";
}
.submail-icon-inbox-filled:before {
  content: "\eac2";
}
.submail-icon-inbox-filled2:before {
  content: "\eac3";
}
.submail-icon-pen:before {
  content: "\eac4";
}
.submail-icon-pen2:before {
  content: "\eac5";
}
.submail-icon-pen-angled:before {
  content: "\eac6";
}
.submail-icon-pen-angled2:before {
  content: "\eac7";
}
.submail-icon-document-edit:before {
  content: "\eac8";
}
.submail-icon-document-edit2:before {
  content: "\eac9";
}
.submail-icon-package:before {
  content: "\eace";
}
.submail-icon-box-filled:before {
  content: "\ead2";
}
.submail-icon-box-filled2:before {
  content: "\ead3";
}
.submail-icon-box5:before {
  content: "\ead6";
}
.submail-icon-box6:before {
  content: "\ead7";
}
.submail-icon-box-bookmark:before {
  content: "\ead8";
}
.submail-icon-box-bookmark2:before {
  content: "\ead9";
}
.submail-icon-tag-cord:before {
  content: "\eada";
}
.submail-icon-tag-cord2:before {
  content: "\eadb";
}
.submail-icon-tag2:before {
  content: "\eadc";
}
.submail-icon-tag3:before {
  content: "\eadd";
}
.submail-icon-tags:before {
  content: "\eade";
}
.submail-icon-tags2:before {
  content: "\eadf";
}
.submail-icon-tag-add:before {
  content: "\eae0";
}
.submail-icon-tag-add2:before {
  content: "\eae1";
}
.submail-icon-tag-remove:before {
  content: "\eae2";
}
.submail-icon-tag-remove2:before {
  content: "\eae3";
}
.submail-icon-tag-checked:before {
  content: "\eae4";
}
.submail-icon-tag-checked2:before {
  content: "\eae5";
}
.submail-icon-tag-cancel:before {
  content: "\eae6";
}
.submail-icon-tag-cancel2:before {
  content: "\eae7";
}
.submail-icon-paperclip2:before {
  content: "\eae8";
}
.submail-icon-paperclip3:before {
  content: "\eae9";
}
.submail-icon-medal:before {
  content: "\eb08";
}
.submail-icon-medal2:before {
  content: "\eb09";
}
.submail-icon-medal3:before {
  content: "\eb0a";
}
.submail-icon-medal4:before {
  content: "\eb0b";
}
.submail-icon-stop-watch:before {
  content: "\eb16";
}
.submail-icon-stop-watch2:before {
  content: "\eb17";
}
.submail-icon-award3:before {
  content: "\eb28";
}
.submail-icon-award4:before {
  content: "\eb29";
}
.submail-icon-award7:before {
  content: "\eb2c";
}
.submail-icon-award8:before {
  content: "\eb2d";
}
.submail-icon-whistle:before {
  content: "\eb34";
}
.submail-icon-warning2:before {
  content: "\ebc6";
}
.submail-icon-compass3:before {
  content: "\ebca";
}
.submail-icon-wind-turbine:before {
  content: "\ebde";
}
.submail-icon-thumb-up:before {
  content: "\ec6a";
}
.submail-icon-thumb-down:before {
  content: "\ec6c";
}
.submail-icon-one-finger:before {
  content: "\ec8c";
}
.submail-icon-one-finger-double-tap:before {
  content: "\ec8e";
}
.submail-icon-one-finger-tap:before {
  content: "\ec90";
}
.submail-icon-file-png2:before {
  content: "\eccb";
}
.submail-icon-file-pdf2:before {
  content: "\eccd";
}
.submail-icon-file-jpg2:before {
  content: "\ecd5";
}
.submail-icon-file-html2:before {
  content: "\ecd9";
}
.submail-icon-file-css2:before {
  content: "\ecdb";
}
.submail-icon-file-java2:before {
  content: "\ecdd";
}
.submail-icon-file-psd2:before {
  content: "\ecdf";
}
.submail-icon-file-ai2:before {
  content: "\ece1";
}
.submail-icon-file-bmp2:before {
  content: "\ece3";
}
.submail-icon-file-php2:before {
  content: "\eced";
}
.submail-icon-file-py2:before {
  content: "\ecef";
}
.submail-icon-file-c2:before {
  content: "\ecf1";
}
.submail-icon-file-sql2:before {
  content: "\ecf3";
}
.submail-icon-file-xls2:before {
  content: "\ed01";
}
.submail-icon-file-docx2:before {
  content: "\ed03";
}
.submail-icon-file-ppt2:before {
  content: "\ed05";
}
.submail-icon-file-asp2:before {
  content: "\ed07";
}
.submail-icon-file-xml2:before {
  content: "\ed0d";
}
.submail-icon-file-xlsx2:before {
  content: "\ed1b";
}
.submail-icon-file-txt2:before {
  content: "\ed23";
}
.submail-icon-file-zip2:before {
  content: "\ed39";
}
.submail-icon-file-rar2:before {
  content: "\ed43";
}
.submail-icon-file-gif2:before {
  content: "\ed45";
}
.submail-icon-document-file-png:before {
  content: "\ed4c";
}
.submail-icon-document-file-pdf:before {
  content: "\ed4e";
}
.submail-icon-document-file-jpg:before {
  content: "\ed56";
}
.submail-icon-document-file-java:before {
  content: "\ed5e";
}
.submail-icon-document-file-bmp:before {
  content: "\ed64";
}
.submail-icon-document-file-php:before {
  content: "\ed6e";
}
.submail-icon-document-file-py:before {
  content: "\ed70";
}
.submail-icon-document-file-c:before {
  content: "\ed72";
}
.submail-icon-document-file-sql:before {
  content: "\ed74";
}
.submail-icon-document-file-xls:before {
  content: "\ed82";
}
.submail-icon-document-file-xml:before {
  content: "\ed8e";
}
.submail-icon-document-file-xlsx:before {
  content: "\ed9c";
}
.submail-icon-document-file-txt:before {
  content: "\eda4";
}
.submail-icon-document-file-zip:before {
  content: "\edba";
}
.submail-icon-document-file-gif:before {
  content: "\edc6";
}
.submail-icon-mobile:before {
  content: "\e000";
}
.submail-icon-laptop2:before {
  content: "\e001";
}
.submail-icon-desktop:before {
  content: "\e002";
}
.submail-icon-tablet2:before {
  content: "\e003";
}
.submail-icon-phone2:before {
  content: "\e004";
}
.submail-icon-document3:before {
  content: "\e005";
}
.submail-icon-documents5:before {
  content: "\e006";
}
.submail-icon-search3:before {
  content: "\e007";
}
.submail-icon-clipboard3:before {
  content: "\e008";
}
.submail-icon-newspaper:before {
  content: "\e009";
}
.submail-icon-notebook9:before {
  content: "\e00a";
}
.submail-icon-book-open:before {
  content: "\e00b";
}
.submail-icon-browser:before {
  content: "\e00c";
}
.submail-icon-calendar:before {
  content: "\e00d";
}
.submail-icon-presentation:before {
  content: "\e00e";
}
.submail-icon-picture2:before {
  content: "\e00f";
}
.submail-icon-pictures:before {
  content: "\e010";
}
.submail-icon-video:before {
  content: "\e011";
}
.submail-icon-camera2:before {
  content: "\e012";
}
.submail-icon-printer6:before {
  content: "\e013";
}
.submail-icon-toolbox:before {
  content: "\e014";
}
.submail-icon-briefcase2:before {
  content: "\e015";
}
.submail-icon-wallet:before {
  content: "\e016";
}
.submail-icon-gift2:before {
  content: "\e017";
}
.submail-icon-bargraph:before {
  content: "\e018";
}
.submail-icon-grid:before {
  content: "\e019";
}
.submail-icon-expand:before {
  content: "\e01a";
}
.submail-icon-focus:before {
  content: "\e01b";
}
.submail-icon-edit:before {
  content: "\e01c";
}
.submail-icon-adjustments:before {
  content: "\e01d";
}
.submail-icon-ribbon:before {
  content: "\e01e";
}
.submail-icon-hourglass2:before {
  content: "\e01f";
}
.submail-icon-lock4:before {
  content: "\e020";
}
.submail-icon-megaphone:before {
  content: "\e021";
}
.submail-icon-shield:before {
  content: "\e022";
}
.submail-icon-trophy5:before {
  content: "\e023";
}
.submail-icon-flag10:before {
  content: "\e024";
}
.submail-icon-map2:before {
  content: "\e025";
}
.submail-icon-puzzle:before {
  content: "\e026";
}
.submail-icon-basket:before {
  content: "\e027";
}
.submail-icon-envelope2:before {
  content: "\e028";
}
.submail-icon-streetsign:before {
  content: "\e029";
}
.submail-icon-telescope:before {
  content: "\e02a";
}
.submail-icon-gears:before {
  content: "\e02b";
}
.submail-icon-key5:before {
  content: "\e02c";
}
.submail-icon-paperclip4:before {
  content: "\e02d";
}
.submail-icon-attachment:before {
  content: "\e02e";
}
.submail-icon-pricetags:before {
  content: "\e02f";
}
.submail-icon-lightbulb:before {
  content: "\e030";
}
.submail-icon-layers2:before {
  content: "\e031";
}
.submail-icon-pencil2:before {
  content: "\e032";
}
.submail-icon-tools:before {
  content: "\e033";
}
.submail-icon-tools-2:before {
  content: "\e034";
}
.submail-icon-scissors:before {
  content: "\e035";
}
.submail-icon-paintbrush:before {
  content: "\e036";
}
.submail-icon-magnifying-glass:before {
  content: "\e037";
}
.submail-icon-circle-compass:before {
  content: "\e038";
}
.submail-icon-linegraph:before {
  content: "\e039";
}
.submail-icon-mic2:before {
  content: "\e03a";
}
.submail-icon-strategy:before {
  content: "\e03b";
}
.submail-icon-beaker:before {
  content: "\e03c";
}
.submail-icon-caution:before {
  content: "\e03d";
}
.submail-icon-recycle:before {
  content: "\e03e";
}
.submail-icon-anchor:before {
  content: "\e03f";
}
.submail-icon-profile-male:before {
  content: "\e040";
}
.submail-icon-profile-female:before {
  content: "\e041";
}
.submail-icon-bike:before {
  content: "\e042";
}
.submail-icon-wine:before {
  content: "\e043";
}
.submail-icon-hotairballoon:before {
  content: "\e044";
}
.submail-icon-globe:before {
  content: "\e045";
}
.submail-icon-genius:before {
  content: "\e046";
}
.submail-icon-map-pin:before {
  content: "\e047";
}
.submail-icon-dial:before {
  content: "\e048";
}
.submail-icon-chat:before {
  content: "\e049";
}
.submail-icon-heart2:before {
  content: "\e04a";
}
.submail-icon-cloud6:before {
  content: "\e04b";
}
.submail-icon-upload2:before {
  content: "\e04c";
}
.submail-icon-download2:before {
  content: "\e04d";
}
.submail-icon-target3:before {
  content: "\e04e";
}
.submail-icon-hazardous:before {
  content: "\e04f";
}
.submail-icon-piechart:before {
  content: "\e050";
}
.submail-icon-speedometer:before {
  content: "\e051";
}
.submail-icon-compass9:before {
  content: "\e053";
}
.submail-icon-clock2:before {
  content: "\e055";
}
.submail-icon-aperture:before {
  content: "\e056";
}
.submail-icon-alarmclock:before {
  content: "\e059";
}
.submail-icon-refresh:before {
  content: "\e05a";
}

