@charset "utf-8";

html {
    color: #000;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

* {
    margin: 0px;
    padding: 0px;

}

a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    /*字体*/
}

li {
    list-style: none;
}

input,
img {
    border: none;
}
/* 解决chrome浏览器默认黄色背景颜色 */
input:-webkit-autofill {
    outline:none;    
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    　　-webkit-text-fill-color: #333;
}
.club-header-content{
    position: relative;
}
.club-header-warp{
    width: 100%;
    height: 50px;
    background: #444;
}
.club-nav-ul li{
    float: left;
    padding: 0 5px;
}
.club-nav-ul li.active{
    background: #555;
}
.club-nav-ul li a{
    color: #FFF;
    width: 70px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
}
.club-log img{
    width: 115px;
}
.club-log{
    float: left;
    margin-right: 50px;
}
.club-longin{
    position: absolute;
    right: 10px;
}
.club-avatar{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
 /* 头像 */
 .avatar{
    width: 26px;
    height: 26px;
    border: 2px solid #fff;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 3px;
  }
  /* 用户中心菜单样式 */
.mdui-menu-cascade{
    width:150px;
  }

/* 消息 */
.notifications-badge{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    line-height: 50px;
    vertical-align: middle;
}
.badge{
    padding: 1px 7px;
    color: #fff;
    border-radius: 15px;
}
.badge-hint{
    background-color: #28a745;
}
.badge-fade{
    background-color: #555;
}