@charset "utf-8";

html {
    color: #555;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

* {
    margin: 0px;
    padding: 0px;

}

a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    cursor: pointer;
    /*字体*/
}

li {
    list-style: none;
}

span {
    color: #555;
}

input,
img {
    border: none;
}

/* 解决chrome浏览器默认黄色背景颜色 */
input:-webkit-autofill {
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #333;
}

.club-header-content {
    position: relative;
}

.club-header-warp {
    width: 100%;
    height: 50px;
    background: #444;
}

.club-nav-ul li {
    float: left;
    padding: 0 5px;
}

.club-nav-ul li.active {
    background: #555;
}

.club-nav-ul li a {
    color: #FFF;
    width: 70px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
}

.club-log img {
    width: 115px;
}

.club-log {
    float: left;
    margin-right: 50px;
}

.club-longin {
    position: absolute;
    right: 10px;
}

.club-avatar {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

/* 头像 */
.avatar {
    width: 26px;
    height: 26px;
    border: 2px solid #fff;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 3px;
}

/* 用户中心菜单样式 */
.mdui-menu-cascade {
    width: 150px;
}

/* 消息 */
.notifications-badge {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    line-height: 50px;
    vertical-align: middle;
}

.badge {
    padding: 1px 7px;
    color: #fff;
    border-radius: 15px;
}

.badge-hint {
    background-color: #28a745;
}

.badge-fade {
    background-color: #555;
}

.club-warp {
    margin-top: 30px;
}

/* 首页banner图 */

.swiper-slide div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide img {
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.club-nav-pills li {
    float: left;
}

.club-nav-pills li a {
    padding: 0 10px;
}

/* 话题列表 */
.club-panel-body {
    margin-top: 20px;
}

.club-panel-body .media-left {
    display: inline-block;
}

.media-left a img {
    width: 40px;
    height: 40px;
}

.media-left .media-avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 0 1px #ccc;
    overflow: hidden;
}

.club-panel-body .media-body {
    display: inline-block;
}

.category {
    background: #ccc;
    padding: 2px 5px;
    margin: 0px 10px;
    color: #fff;
    border-radius: 5px;
}

.club-panel-body .media-footer {
    display: inline-block;
    position: absolute;
    right: 0px;
}

.club-panel-body .media {
    position: relative;
}

/* 分页 */
.club-pagination {
    margin: 30px 0px;
    position: relative;
}

.club-pagination .pagination {
    float: right;
}

.club-pagination .pagination .active span{
 color:#03A9F4;
 padding: 0 10px;
}
.club-pagination .pagination .disabled span{
 padding: 0 10px;
}
.club-pagination .pagination li {
    float: left;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    border: 1px solid #e2e2e2;
}
.club-pagination .pagination li a{
    padding: 0 10px;
}
.club-pagination .pagination li a:hover{
    padding: 0 10px;
    color:#03A9F4;
}
/* 文章详情页面 */
.club-artical{
    margin-top: 20px;
    color: #555;
}
.usercard-warp, .article-warp{
    padding: 20px;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 2px #dedada;
    border-radius: 4px;
    text-align: justify;
}
/* 文章详情，头像卡 */
.usercard-body .usercard-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.usercard-header{
    position: relative;
    margin-bottom: 15px;
}
.usercard-name{
    position: absolute;
    top: 0px;
    left: 62px;
}
.usercard-name .name{
    margin-bottom: 5px;
}
.usercard-favorites{
    text-align: center;
    margin: 50px 0;
}
.usercard-favorites .mdui-col-xs-3 p{
    line-height: 25px;
}
.usercard-message{
    text-align: center;
}
/* 文章标题 */
.article-header{
 position: relative;
}
.article-title{
    max-width: 600px;
}
.article-title .article-title-h1{
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-right: 60px;
}
.article-like{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 34px;
    vertical-align: middle;
}
/* 点赞动画 */
.article-like .heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
}

.heart {
    background: url(../images/web_heart.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    left: -14px;
    background-size: 2900%;
}

.likeCount {
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 30px;
    font-size: 25px;
    color: #999999;
}

.article-like {
    clear: both;
}

.heart:hover,
.heart:focus {
    background-position: right;
}

@keyframes heartBlast {

    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* 正文样式 */
.topic-body{
    line-height: 34px;
    margin-bottom: 30px;
}
.topic-body b, .topic-body strong{
        font-weight: bold;
}
.topic-body a{
    color:  #448AFF;
}
.topic-body ol,.topic-body ul{
    margin: 10px 0;
}
.topic-body blockquote{
    border-left: 6px solid #ddd;
    padding: 5px 0 5px 10px;
    margin: 15px 0 15px 15px;
}
.topic-body img{
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0;
}
.topic-body h1{
    font-size: 24px;
    font-weight: normal;
    margin: 40px 0 20px;
}
.topic-body h2{
    font-size: 22px;
    font-weight: normal;
    margin: 40px 0 20px;
}
.topic-body h3{
    font-size: 20px;
    font-weight: normal;
    margin: 40px 0 20px;
}
.topic-body h4{
    font-size: 18px;
    font-weight: normal;
    margin: 40px 0 20px;
}
.topic-body h5{
    font-size: 16px;
    font-weight: normal;
    margin: 40px 0 20px;
}
.topic-body table,.topic-body tbody{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
}
.topic-body th, .topic-body td{
    min-width: 40px;
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 2px 4px;
    text-align: left;
    box-sizing: border-box;
}

/* 登录后操作提示框 */
.require-warp {
    text-align: center;
    color:#555;
}
.require-warp div{
    margin: 30px 0;
}
.require-warp .require-icon i{
    font-size: 60px;
    color: #F4511E;
}
.require-warp .require-btn .mdui-btn{
    float: none;
    margin: 20px;
    zoom:1.2;
}